<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @guest.name %>
</p>

<p>
  <strong>Street1:</strong>
  <%= @guest.street1 %>
</p>

<p>
  <strong>Street2:</strong>
  <%= @guest.street2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @guest.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @guest.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @guest.zip %>
</p>

<p>
  <strong>Qr code:</strong>
  <%= @guest.qr_code %>
</p>

<%= link_to 'Edit', edit_guest_path(@guest) %> |
<%= link_to 'Back', guests_path %>
